<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1831},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>icon_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,157},{110,78}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,45},{110,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>img_defaultHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,237},{108,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>img_downframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{296,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,32}}</string>
                <key>sourceSize</key>
                <string>{296,32}</string>
            </dict>
            <key>img_headBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,275},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>img_headFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,157},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2005},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>niuAndpsz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>popframe/dialog_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,221},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>popframe/dialog_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,157},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>popframe/frame_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1284},{114,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,545}}</string>
                <key>sourceSize</key>
                <string>{114,545}</string>
            </dict>
            <key>popframe/frame_function.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1886},{117,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,488}}</string>
                <key>sourceSize</key>
                <string>{117,488}</string>
            </dict>
            <key>popframe/frame_gameDescription.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{110,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,600}}</string>
                <key>sourceSize</key>
                <string>{110,600}</string>
            </dict>
            <key>popframe/frame_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,36},{119,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,284}}</string>
                <key>sourceSize</key>
                <string>{119,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1008054.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8344fe5481c7f43adc697ddd4263732b$</string>
            <key>textureFileName</key>
            <string>1008054.png</string>
        </dict>
    </dict>
</plist>
