<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fanma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{127,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,185}}</string>
                <key>sourceSize</key>
                <string>{127,185}</string>
            </dict>
            <key>fanma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,209}}</string>
                <key>sourceSize</key>
                <string>{100,209}</string>
            </dict>
            <key>fanma3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,209}}</string>
                <key>sourceSize</key>
                <string>{100,209}</string>
            </dict>
            <key>fanma4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{74,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,205}}</string>
                <key>sourceSize</key>
                <string>{74,205}</string>
            </dict>
            <key>fanma5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{127,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,185}}</string>
                <key>sourceSize</key>
                <string>{127,185}</string>
            </dict>
            <key>startFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{127,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,185}}</string>
                <key>sourceSize</key>
                <string>{127,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fangma.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38bf1e1c681676f4f03fcce1cbcc33d2$</string>
            <key>textureFileName</key>
            <string>fangma.png</string>
        </dict>
    </dict>
</plist>
