<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightsweep_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,44},{10,22}}</string>
                <key>offset</key>
                <string>{-37,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,95},{10,22}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{20,34}}</string>
                <key>offset</key>
                <string>{-33,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,83},{20,34}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,84},{26,46}}</string>
                <key>offset</key>
                <string>{-29,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,71},{26,46}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,474},{32,58}}</string>
                <key>offset</key>
                <string>{-26,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,59},{32,58}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,466},{40,70}}</string>
                <key>offset</key>
                <string>{-23,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,47},{40,70}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{46,80}}</string>
                <key>offset</key>
                <string>{-20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{46,80}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,418},{52,92}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{52,92}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,318},{58,104}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{58,104}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,204},{66,112}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{66,112}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,230},{72,116}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,116}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,348},{78,116}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{78,116}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,112},{84,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,116}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,116}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,116}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,116}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{84,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,116}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,116}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,116}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,116}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,230},{82,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{82,116}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,348},{78,116}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{78,116}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,88},{72,114}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{72,114}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,88},{64,110}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{64,110}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,318},{58,98}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{58,98}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,88},{52,88}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{52,88}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,466},{44,76}}</string>
                <key>offset</key>
                <string>{20,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,1},{44,76}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,424},{38,64}}</string>
                <key>offset</key>
                <string>{23,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,1},{38,64}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,474},{30,52}}</string>
                <key>offset</key>
                <string>{27,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,204},{24,40}}</string>
                <key>offset</key>
                <string>{30,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{24,40}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{18,28}}</string>
                <key>offset</key>
                <string>{33,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,1},{18,28}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,32},{10,16}}</string>
                <key>offset</key>
                <string>{37,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,1},{10,16}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>lightsweep_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,32},{10,16}}</string>
                <key>offset</key>
                <string>{37,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,1},{10,16}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardlight.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:530837030395809a948063f84978ec2b$</string>
            <key>textureFileName</key>
            <string>cardlight.png</string>
        </dict>
    </dict>
</plist>
