<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn/btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,441},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn/btn_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,865},{152,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,72}}</string>
                <key>sourceSize</key>
                <string>{152,72}</string>
            </dict>
            <key>btn/btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,441},{89,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
            <key>btn/btn_certain.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,441},{89,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
            <key>btn/btn_gray_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,865},{152,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,72}}</string>
                <key>sourceSize</key>
                <string>{152,72}</string>
            </dict>
            <key>btn/btn_gray_chu.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,531},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>btn/btn_green_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,865},{152,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,72}}</string>
                <key>sourceSize</key>
                <string>{152,72}</string>
            </dict>
            <key>btn/btn_jiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,441},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn/btn_mic.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,441},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn/btn_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,570},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>btn/btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,441},{90,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,38}}</string>
                <key>sourceSize</key>
                <string>{90,38}</string>
            </dict>
            <key>btn/btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,112},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>btn/btn_yellow_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,865},{152,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,72}}</string>
                <key>sourceSize</key>
                <string>{152,72}</string>
            </dict>
            <key>btn/btn_yellow_chu.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,344},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>btn/cancel_trust.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,865},{141,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,38}}</string>
                <key>sourceSize</key>
                <string>{141,38}</string>
            </dict>
            <key>btn/img_opa_btnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,125},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>common/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,418},{170,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,140}}</string>
                <key>sourceSize</key>
                <string>{170,140}</string>
            </dict>
            <key>common/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,299},{170,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,140}}</string>
                <key>sourceSize</key>
                <string>{170,140}</string>
            </dict>
            <key>common/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,239},{170,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,140}}</string>
                <key>sourceSize</key>
                <string>{170,140}</string>
            </dict>
            <key>common/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,97},{170,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,140}}</string>
                <key>sourceSize</key>
                <string>{170,140}</string>
            </dict>
            <key>common/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,865},{170,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,140}}</string>
                <key>sourceSize</key>
                <string>{170,140}</string>
            </dict>
            <key>common/agree_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,211},{86,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,50}}</string>
                <key>sourceSize</key>
                <string>{86,50}</string>
            </dict>
            <key>common/bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,302},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>common/btn_rule1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{93,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,30}}</string>
                <key>sourceSize</key>
                <string>{93,30}</string>
            </dict>
            <key>common/btn_rule4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,924},{93,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,26}}</string>
                <key>sourceSize</key>
                <string>{93,26}</string>
            </dict>
            <key>common/btn_volume.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,262},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>common/chat_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,97},{26,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,62}}</string>
                <key>sourceSize</key>
                <string>{26,62}</string>
            </dict>
            <key>common/chat_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,865},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>common/chat_dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,162},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>common/clock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,144},{116,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,100}}</string>
                <key>sourceSize</key>
                <string>{116,100}</string>
            </dict>
            <key>common/common_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,529}}</string>
                <key>sourceSize</key>
                <string>{202,529}</string>
            </dict>
            <key>common/common_dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,533},{512,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,330}}</string>
                <key>sourceSize</key>
                <string>{512,330}</string>
            </dict>
            <key>common/common_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,262},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>common/dissmiss_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{92,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,389}}</string>
                <key>sourceSize</key>
                <string>{92,389}</string>
            </dict>
            <key>common/head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,523},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>common/img_defaultHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common/light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1019},{265,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,2}}</string>
                <key>sourceSize</key>
                <string>{265,2}</string>
            </dict>
            <key>common/more.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,441},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>common/music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,381},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>common/new.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,441},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>common/slider_bomt.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{290,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,27}}</string>
                <key>sourceSize</key>
                <string>{290,27}</string>
            </dict>
            <key>common/slider_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,220},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>common/slider_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,31},{284,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,22}}</string>
                <key>sourceSize</key>
                <string>{284,22}</string>
            </dict>
            <key>common/speak_voice_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,185},{33,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,52}}</string>
                <key>sourceSize</key>
                <string>{33,52}</string>
            </dict>
            <key>common/speaking_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,441},{85,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>common/status_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,924},{92,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,47}}</string>
                <key>sourceSize</key>
                <string>{92,47}</string>
            </dict>
            <key>common/status_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,55},{105,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,47}}</string>
                <key>sourceSize</key>
                <string>{105,47}</string>
            </dict>
            <key>common/tuoguan_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1019},{2,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,250}}</string>
                <key>sourceSize</key>
                <string>{2,250}</string>
            </dict>
            <key>common/txt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,55},{240,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,40}}</string>
                <key>sourceSize</key>
                <string>{240,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokercommon.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5cc0d610fc488743858ce6a2a0c7e67$</string>
            <key>textureFileName</key>
            <string>pokercommon.png</string>
        </dict>
    </dict>
</plist>
