<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>YANGMA/yangma1.png</key>
			<dict>
				<key>width</key>
				<integer>439</integer>
				<key>height</key>
				<integer>337</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>GENZHUANG/genzhuang1.png</key>
			<dict>
				<key>width</key>
				<integer>566</integer>
				<key>height</key>
				<integer>370</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>441</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>TIANZHUI/tianzhui1.png</key>
			<dict>
				<key>width</key>
				<integer>545</integer>
				<key>height</key>
				<integer>326</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>372</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>YANGMA/yangma2.png</key>
			<dict>
				<key>width</key>
				<integer>422</integer>
				<key>height</key>
				<integer>297</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>YANGMA/yangma3.png</key>
			<dict>
				<key>width</key>
				<integer>361</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>547</integer>
				<key>y</key>
				<integer>372</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>GENZHUANG/genzhuang3.png</key>
			<dict>
				<key>width</key>
				<integer>411</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>424</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>extraAnimation0.png</string>
			<key>realTextureFileName</key>
			<string>extraAnimation0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>