<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,22},{12,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{12,10}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>explode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{18,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,52},{18,18}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>explode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,272},{54,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{54,42}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>explode4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{82,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{82,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>explode5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{86,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{86,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>explode6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,272},{92,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{92,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>explode7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,184},{100,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{100,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>explode8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{100,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{100,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>explode9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{108,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{108,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>explode10.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{110,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{110,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>explode11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{114,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>explode12.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,94},{110,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{110,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Explode1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f482e2b7fb130367483c7005ff3d1104$</string>
            <key>textureFileName</key>
            <string>Explode1.png</string>
        </dict>
    </dict>
</plist>
