<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1236_bg_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,107}</string>
                <key>spriteSourceSize</key>
                <string>{106,107}</string>
                <key>textureRect</key>
                <string>{{873,390},{106,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1326_yuanbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{100,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{933,1},{100,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1327_yuanbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{100,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{933,1},{100,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1437_loading_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,60}</string>
                <key>spriteSourceSize</key>
                <string>{720,60}</string>
                <key>textureRect</key>
                <string>{{811,1},{720,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1438_loading_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,60}</string>
                <key>spriteSourceSize</key>
                <string>{720,60}</string>
                <key>textureRect</key>
                <string>{{811,1},{720,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1514_face_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{947,581},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1515_face_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{947,581},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1576_defaultCircleHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{873,499},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1577_defaultCircleHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{873,499},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>540_btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{947,650},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>850_btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,34}</string>
                <key>spriteSourceSize</key>
                <string>{81,34}</string>
                <key>textureRect</key>
                <string>{{522,928},{81,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>914_head_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{942,103},{81,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>abouttitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,55}</string>
                <key>textureRect</key>
                <string>{{873,265},{123,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bnt_font_fzqw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,59}</string>
                <key>spriteSourceSize</key>
                <string>{206,59}</string>
                <key>textureRect</key>
                <string>{{217,792},{206,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brack_Head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{533,624},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brocast_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{981,355},{44,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{873,655},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_club.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,166}</string>
                <key>spriteSourceSize</key>
                <string>{530,166}</string>
                <key>textureRect</key>
                <string>{{1,624},{530,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{873,581},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lab_applyJoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,58}</string>
                <key>spriteSourceSize</key>
                <string>{203,58}</string>
                <key>textureRect</key>
                <string>{{203,914},{203,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lab_applyQuit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,59}</string>
                <key>spriteSourceSize</key>
                <string>{200,59}</string>
                <key>textureRect</key>
                <string>{{1,900},{200,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lab_applyRecord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,59}</string>
                <key>spriteSourceSize</key>
                <string>{203,59}</string>
                <key>textureRect</key>
                <string>{{210,853},{203,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lab_joinClub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,59}</string>
                <key>spriteSourceSize</key>
                <string>{254,59}</string>
                <key>textureRect</key>
                <string>{{730,624},{254,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_received.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,58}</string>
                <key>spriteSourceSize</key>
                <string>{161,58}</string>
                <key>textureRect</key>
                <string>{{952,784},{161,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_recieve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,58}</string>
                <key>spriteSourceSize</key>
                <string>{131,58}</string>
                <key>textureRect</key>
                <string>{{873,1},{131,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yqrh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,59}</string>
                <key>spriteSourceSize</key>
                <string>{214,59}</string>
                <key>textureRect</key>
                <string>{{1,792},{214,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{605,928},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>combat_winner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,33}</string>
                <key>spriteSourceSize</key>
                <string>{112,33}</string>
                <key>textureRect</key>
                <string>{{408,925},{112,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cut_off_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,74}</string>
                <key>spriteSourceSize</key>
                <string>{2,74}</string>
                <key>textureRect</key>
                <string>{{791,624},{2,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{533,776},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,94}</string>
                <key>spriteSourceSize</key>
                <string>{131,94}</string>
                <key>textureRect</key>
                <string>{{425,792},{131,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_delete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,59}</string>
                <key>spriteSourceSize</key>
                <string>{220,59}</string>
                <key>textureRect</key>
                <string>{{791,723},{220,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guangboru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,14}</string>
                <key>spriteSourceSize</key>
                <string>{13,14}</string>
                <key>textureRect</key>
                <string>{{791,700},{13,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_btn_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,67}</string>
                <key>spriteSourceSize</key>
                <string>{129,67}</string>
                <key>textureRect</key>
                <string>{{873,134},{129,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_btn_delete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,67}</string>
                <key>spriteSourceSize</key>
                <string>{132,67}</string>
                <key>textureRect</key>
                <string>{{791,784},{132,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_fangka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{955,499},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_login_add_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{621,808}</string>
                <key>spriteSourceSize</key>
                <string>{621,808}</string>
                <key>textureRect</key>
                <string>{{1,1},{621,808}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_t_gl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,43}</string>
                <key>spriteSourceSize</key>
                <string>{321,43}</string>
                <key>textureRect</key>
                <string>{{685,624},{321,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{797,716},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{981,445},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{791,716},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{795,624},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>otherCircleHeadFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{930,265},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_wight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{925,784},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{45,207}</string>
                <key>spriteSourceSize</key>
                <string>{45,209}</string>
                <key>textureRect</key>
                <string>{{1,853},{45,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>round_select_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{981,401},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shiming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,60}</string>
                <key>spriteSourceSize</key>
                <string>{220,60}</string>
                <key>textureRect</key>
                <string>{{730,880},{220,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{858,942},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toast_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,30}</string>
                <key>spriteSourceSize</key>
                <string>{130,30}</string>
                <key>textureRect</key>
                <string>{{730,942},{126,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toumingdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{942,186},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ressdd0.png</string>
            <key>size</key>
            <string>{1024,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9fe82586e133997a0c6c975ff163f72:1d485e9a388dd7cfd6cc9498eb712230:f7d8178231a430aa256dee317c6263a3$</string>
            <key>textureFileName</key>
            <string>ressdd0.png</string>
        </dict>
    </dict>
</plist>
