<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004009.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,154},{102,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>1004051.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1004110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{170,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,140}}</string>
                <key>sourceSize</key>
                <string>{170,140}</string>
            </dict>
            <key>1004181.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,154},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>1004182.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,247},{88,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,49}}</string>
                <key>sourceSize</key>
                <string>{88,49}</string>
            </dict>
            <key>1004405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{162,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,66}}</string>
                <key>sourceSize</key>
                <string>{162,66}</string>
            </dict>
            <key>1004410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,91}}</string>
                <key>sourceSize</key>
                <string>{266,91}</string>
            </dict>
            <key>1004488.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,26}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
            <key>1004525.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,337},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>1004526.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,412},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friendRoomScene.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a753ee394b6248409998f441dbe169f4$</string>
            <key>textureFileName</key>
            <string>friendRoomScene.png</string>
        </dict>
    </dict>
</plist>
