<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>1004385.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,81},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>1004386.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,70},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>1004387.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>1004388.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{877,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{877,80}}</string>
                <key>sourceSize</key>
                <string>{877,80}</string>
            </dict>
            <key>1004451.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,77}}</string>
                <key>sourceSize</key>
                <string>{181,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13d3eff4ca911612e88a5fa266fc3d7c$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
