<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004043.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,867},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1004123.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,566},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>1004220.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,982},{40,40}}</string>
                <key>offset</key>
                <string>{-45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{40,40}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>1004381.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,861},{123,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,55}}</string>
                <key>sourceSize</key>
                <string>{123,55}</string>
            </dict>
            <key>1004400.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,8},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>1004401.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,982},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>1004402.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,504},{720,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,60}}</string>
                <key>sourceSize</key>
                <string>{720,60}</string>
            </dict>
            <key>1004414.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,659},{124,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,28}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>1004415.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,566},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>1004439.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{900,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,500}}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>1004440.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,976},{43,205}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{43,205}}</string>
                <key>sourceSize</key>
                <string>{45,209}</string>
            </dict>
            <key>1004452.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,976},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>1004470.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,859},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>1004477.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,566},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>1004479.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,566},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>1004501.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,659},{206,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,59}}</string>
                <key>sourceSize</key>
                <string>{206,59}</string>
            </dict>
            <key>1004517.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,227},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>1004520.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,659},{206,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,59}}</string>
                <key>sourceSize</key>
                <string>{206,59}</string>
            </dict>
            <key>1004522.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1004526.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,867},{42,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>1004537.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,785},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>1004541.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,875},{81,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,34}}</string>
                <key>sourceSize</key>
                <string>{81,34}</string>
            </dict>
            <key>1004543.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,659},{203,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,58}}</string>
                <key>sourceSize</key>
                <string>{203,58}</string>
            </dict>
            <key>1004544.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,659},{200,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,59}}</string>
                <key>sourceSize</key>
                <string>{200,59}</string>
            </dict>
            <key>1004545.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,659},{203,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,59}}</string>
                <key>sourceSize</key>
                <string>{203,59}</string>
            </dict>
            <key>1004547.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,659},{254,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,59}}</string>
                <key>sourceSize</key>
                <string>{254,59}</string>
            </dict>
            <key>1004552.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,861},{161,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,58}}</string>
                <key>sourceSize</key>
                <string>{161,58}</string>
            </dict>
            <key>1004553.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,659},{131,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,58}}</string>
                <key>sourceSize</key>
                <string>{131,58}</string>
            </dict>
            <key>1004563.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,659},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>1004577.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,37},{188,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,111}}</string>
                <key>sourceSize</key>
                <string>{188,111}</string>
            </dict>
            <key>1004578.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,659},{125,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,47}}</string>
                <key>sourceSize</key>
                <string>{125,47}</string>
            </dict>
            <key>1004579.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,915},{220,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,59}}</string>
                <key>sourceSize</key>
                <string>{220,59}</string>
            </dict>
            <key>1004594.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{321,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,43}}</string>
                <key>sourceSize</key>
                <string>{321,43}</string>
            </dict>
            <key>1004604.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>1004605.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,227},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>1004614.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,335},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>1004618.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,566},{130,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{130,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1004628.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,986},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>1004643.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,867},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>1004644.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,335},{322,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,95}}</string>
                <key>sourceSize</key>
                <string>{322,95}</string>
            </dict>
            <key>1004645.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,357},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>1004707.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,861},{119,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,66}}</string>
                <key>sourceSize</key>
                <string>{119,66}</string>
            </dict>
            <key>1004710.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,792},{119,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,67}}</string>
                <key>sourceSize</key>
                <string>{119,67}</string>
            </dict>
            <key>1004727.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>1004742.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>1004752.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,928},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c3142bd455c579013570d888f6bf673$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
