<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004040.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{212,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,81}}</string>
                <key>sourceSize</key>
                <string>{212,81}</string>
            </dict>
            <key>1004441.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{165,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,45}}</string>
                <key>sourceSize</key>
                <string>{165,45}</string>
            </dict>
            <key>1004442.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{142,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,38}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>1004600.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,216},{14,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,86}}</string>
                <key>sourceSize</key>
                <string>{14,86}</string>
            </dict>
            <key>1004704.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>1004705.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,293},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>1004706.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,304},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{69,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>1004707.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,444},{119,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,66}}</string>
                <key>sourceSize</key>
                <string>{119,66}</string>
            </dict>
            <key>1004708.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,216},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>1004709.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>1004710.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,375},{119,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,67}}</string>
                <key>sourceSize</key>
                <string>{119,67}</string>
            </dict>
            <key>1004711.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{369,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,39}}</string>
                <key>sourceSize</key>
                <string>{369,39}</string>
            </dict>
            <key>1004712.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,39}}</string>
                <key>sourceSize</key>
                <string>{369,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>set_dialog_hall.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00c3d745bb74b982454b0b337cca04c9$</string>
            <key>textureFileName</key>
            <string>set_dialog_hall.png</string>
        </dict>
    </dict>
</plist>
