<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004291.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,502},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>1004293.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,457},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1004295.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,398},{280,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,133}}</string>
                <key>sourceSize</key>
                <string>{280,133}</string>
            </dict>
            <key>1004296.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,419},{280,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,133}}</string>
                <key>sourceSize</key>
                <string>{280,133}</string>
            </dict>
            <key>1004299.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,502},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>1004482.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,6},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>1004498.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,511},{108,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,59}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>1004511.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,136},{150,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,53}}</string>
                <key>sourceSize</key>
                <string>{150,53}</string>
            </dict>
            <key>1004528.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{18,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,559}}</string>
                <key>sourceSize</key>
                <string>{18,559}</string>
            </dict>
            <key>1004534.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,137},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>1004539.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,554},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>1004548.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{280,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,133}}</string>
                <key>sourceSize</key>
                <string>{280,133}</string>
            </dict>
            <key>1004549.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>1004556.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>1004558.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,137},{131,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,59}}</string>
                <key>sourceSize</key>
                <string>{131,59}</string>
            </dict>
            <key>1004568.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,472},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>1004571.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,572},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>1004572.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,398},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>1004580.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,518},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>1004581.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,472},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>1004587.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,389},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>1004592.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,305},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1004593.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,305},{112,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,304}}</string>
                <key>sourceSize</key>
                <string>{112,304}</string>
            </dict>
            <key>1004595.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,94},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>1004600.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,90}}</string>
                <key>sourceSize</key>
                <string>{720,90}</string>
            </dict>
            <key>1004611.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>1004614.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>1004621.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,305},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>1004622.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,264},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>1004623.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,353},{46,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,30}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>1004624.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{660,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,209}}</string>
                <key>sourceSize</key>
                <string>{660,209}</string>
            </dict>
            <key>1004640.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>1004644.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{4,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,2}}</string>
                <key>sourceSize</key>
                <string>{4,2}</string>
            </dict>
            <key>1004651.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,305},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>1004742.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,447},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>1004784.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,377},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>1004785.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,288},{345,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,108}}</string>
                <key>sourceSize</key>
                <string>{345,108}</string>
            </dict>
            <key>1004786.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,137},{163,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,125}}</string>
                <key>sourceSize</key>
                <string>{163,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>foreload.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db1d829a4ebca80441470d2f17f883e9$</string>
            <key>textureFileName</key>
            <string>foreload.png</string>
        </dict>
    </dict>
</plist>
