<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>QIANGGANGHU/qiangganghu.png</key>
			<dict>
				<key>width</key>
				<integer>644</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>SHIFENG/shifeng.png</key>
			<dict>
				<key>width</key>
				<integer>557</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>TIANHU/tianhu.png</key>
			<dict>
				<key>width</key>
				<integer>635</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>249</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>TIANQUEYIMEN/tianqueyimen.png</key>
			<dict>
				<key>width</key>
				<integer>586</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>371</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>TIANTING/tianting.png</key>
			<dict>
				<key>width</key>
				<integer>635</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>YIPAODUOXIANG/yipaoduoxiang.png</key>
			<dict>
				<key>width</key>
				<integer>644</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>626</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>YUANQUE/yuanque.png</key>
			<dict>
				<key>width</key>
				<integer>566</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>719</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>ZHAGANG/zhagang.png</key>
			<dict>
				<key>width</key>
				<integer>482</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>878</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>addAnimationEn6.png</string>
			<key>realTextureFileName</key>
			<string>addAnimationEn6.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>