<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BUHUA/buhua1.png</key>
			<dict>
				<key>width</key>
				<integer>508</integer>
				<key>height</key>
				<integer>294</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-34</real>
			</dict>
			<key>YPDX/ypdx2.png</key>
			<dict>
				<key>width</key>
				<integer>458</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>BUHUA/buhua3.png</key>
			<dict>
				<key>width</key>
				<integer>309</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>186</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>YPDX/ypdx3.png</key>
			<dict>
				<key>width</key>
				<integer>458</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>296</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>GANG/gang2.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>259</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>376</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>CHI/chi2.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>751</integer>
				<key>y</key>
				<integer>376</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>TING/ting2.png</key>
			<dict>
				<key>width</key>
				<integer>312</integer>
				<key>height</key>
				<integer>349</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>481</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>HU/hu2.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>261</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>751</integer>
				<key>y</key>
				<integer>625</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>PENG/peng2.png</key>
			<dict>
				<key>width</key>
				<integer>313</integer>
				<key>height</key>
				<integer>261</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>314</integer>
				<key>y</key>
				<integer>637</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>moji1.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>832</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>CpghAnimation0.png</string>
			<key>realTextureFileName</key>
			<string>CpghAnimation0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>