<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,426},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>1t.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,342},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>1w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,666},{70,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,96}}</string>
                <key>sourceSize</key>
                <string>{70,96}</string>
            </dict>
            <key>2t.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,90},{58,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,102}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>2w.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,194},{74,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,102}}</string>
                <key>sourceSize</key>
                <string>{74,102}</string>
            </dict>
            <key>3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,540},{82,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,100}}</string>
                <key>sourceSize</key>
                <string>{82,100}</string>
            </dict>
            <key>3t.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,343},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>3w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{84,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,102}}</string>
                <key>sourceSize</key>
                <string>{84,102}</string>
            </dict>
            <key>4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,342},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>4t.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,663},{72,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,102}}</string>
                <key>sourceSize</key>
                <string>{72,102}</string>
            </dict>
            <key>4w.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,258},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,642},{82,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>5t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>5w.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,259},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>6b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{72,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,102}}</string>
                <key>sourceSize</key>
                <string>{72,102}</string>
            </dict>
            <key>6t.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,427},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>6w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>7b.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,89},{84,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,102}}</string>
                <key>sourceSize</key>
                <string>{84,102}</string>
            </dict>
            <key>7t.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,258},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>7w.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,588},{76,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,102}}</string>
                <key>sourceSize</key>
                <string>{76,102}</string>
            </dict>
            <key>8b.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,582},{76,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,102}}</string>
                <key>sourceSize</key>
                <string>{76,102}</string>
            </dict>
            <key>8t.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,510},{76,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,102}}</string>
                <key>sourceSize</key>
                <string>{76,102}</string>
            </dict>
            <key>8w.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,504},{76,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,102}}</string>
                <key>sourceSize</key>
                <string>{76,102}</string>
            </dict>
            <key>9b.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,88},{84,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,102}}</string>
                <key>sourceSize</key>
                <string>{84,102}</string>
            </dict>
            <key>9t.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,88},{84,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,102}}</string>
                <key>sourceSize</key>
                <string>{84,102}</string>
            </dict>
            <key>9w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>duijialipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,846},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>f_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>f_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,298},{78,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,86}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>f_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{84,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,102}}</string>
                <key>sourceSize</key>
                <string>{84,102}</string>
            </dict>
            <key>f_fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,378},{84,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>f_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,737},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>f_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,660},{74,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,100}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>f_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,426},{76,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,102}}</string>
                <key>sourceSize</key>
                <string>{76,102}</string>
            </dict>
            <key>h_chun.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,509},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>h_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{84,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,102}}</string>
                <key>sourceSize</key>
                <string>{84,102}</string>
            </dict>
            <key>h_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,175},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>h_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>h_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,174},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>h_qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,589},{72,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,102}}</string>
                <key>sourceSize</key>
                <string>{72,102}</string>
            </dict>
            <key>h_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{74,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,100}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>h_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,174},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>hengpaidun.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,738},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>left_gang_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,791},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>left_out_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,833},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>left_peng_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,792},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>left_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,738},{30,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,68}}</string>
                <key>sourceSize</key>
                <string>{30,68}</string>
            </dict>
            <key>left_poker_tang.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,879},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>other_gang_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,879},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>other_out_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,46},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{42,59}</string>
            </dict>
            <key>other_peng_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,46},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{42,59}</string>
            </dict>
            <key>other_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,835},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>other_poker_tang.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,842},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>right_gang_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,738},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>right_out_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,779},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>right_peng_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,792},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>right_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,736},{30,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,68}}</string>
                <key>sourceSize</key>
                <string>{30,68}</string>
            </dict>
            <key>right_poker_tang.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,886},{43,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,54}}</string>
                <key>sourceSize</key>
                <string>{43,54}</string>
            </dict>
            <key>self_gang_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,736},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>self_out_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{42,59}</string>
            </dict>
            <key>self_peng_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>self_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>self_poker_tang.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,770},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>shupaidun.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,806},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>t_baida.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,480},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{58,84}</string>
            </dict>
            <key>t_dabaiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,89},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>xuanzhonglaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{85,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,116}}</string>
                <key>sourceSize</key>
                <string>{85,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_pai.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fca93d7a46120cf2865f6f06e0e6ee7$</string>
            <key>textureFileName</key>
            <string>majiang_pai.png</string>
        </dict>
    </dict>
</plist>
