<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>DIANGANG/diangang2.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>ANGANG/angang2.png</key>
			<dict>
				<key>width</key>
				<integer>541</integer>
				<key>height</key>
				<integer>346</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>BUGANG/bugang2.png</key>
			<dict>
				<key>width</key>
				<integer>395</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>DIANGANG/diangang3.png</key>
			<dict>
				<key>width</key>
				<integer>435</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>668</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>ANGANG/angang3.png</key>
			<dict>
				<key>width</key>
				<integer>437</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>668</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>addAnimation70.png</string>
			<key>realTextureFileName</key>
			<string>addAnimation70.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>