<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TING/Ting2.png</key>
			<dict>
				<key>width</key>
				<integer>453</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>YUANQUE/yuanque2.png</key>
			<dict>
				<key>width</key>
				<integer>542</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>257</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>CHONGFNGJI/chongfengji.png</key>
			<dict>
				<key>width</key>
				<integer>556</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>DIXIA13YAO/dixia13yao.png</key>
			<dict>
				<key>width</key>
				<integer>627</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>DIANPAO/dianpao.png</key>
			<dict>
				<key>width</key>
				<integer>639</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>619</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>FA/fa.png</key>
			<dict>
				<key>width</key>
				<integer>638</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>725</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>GANGKAI/gangkai.png</key>
			<dict>
				<key>width</key>
				<integer>630</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>861</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>LIANZHUPAO/lianzhupao.png</key>
			<dict>
				<key>width</key>
				<integer>547</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>644</integer>
				<key>originalHeight</key>
				<integer>528</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>106</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>1002006.png</string>
			<key>realTextureFileName</key>
			<string>1002006.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>