<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1002044.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,864},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1002124.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,566},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>1002221.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,822},{40,40}}</string>
                <key>offset</key>
                <string>{-45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{40,40}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>1002382.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,659},{123,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,55}}</string>
                <key>sourceSize</key>
                <string>{123,55}</string>
            </dict>
            <key>1002401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,8},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>1002402.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,822},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>1002403.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,504},{720,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,60}}</string>
                <key>sourceSize</key>
                <string>{720,60}</string>
            </dict>
            <key>1002414.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,792},{124,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,28}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>1002415.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,566},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>1002439.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{900,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,500}}</string>
                <key>sourceSize</key>
                <string>{900,500}</string>
            </dict>
            <key>1002440.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,976},{43,205}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{43,205}}</string>
                <key>sourceSize</key>
                <string>{45,209}</string>
            </dict>
            <key>1002452.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,976},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>1002470.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,566},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>1002477.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,566},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>1002479.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,566},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>1002509.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,227},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>1002512.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,659},{206,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,59}}</string>
                <key>sourceSize</key>
                <string>{206,59}</string>
            </dict>
            <key>1002514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1002518.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,867},{42,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>1002529.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,784},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>1002533.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,875},{81,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,34}}</string>
                <key>sourceSize</key>
                <string>{81,34}</string>
            </dict>
            <key>1002535.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,659},{203,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,58}}</string>
                <key>sourceSize</key>
                <string>{203,58}</string>
            </dict>
            <key>1002536.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,659},{200,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,59}}</string>
                <key>sourceSize</key>
                <string>{200,59}</string>
            </dict>
            <key>1002537.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,659},{203,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,59}}</string>
                <key>sourceSize</key>
                <string>{203,59}</string>
            </dict>
            <key>1002539.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,659},{254,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,59}}</string>
                <key>sourceSize</key>
                <string>{254,59}</string>
            </dict>
            <key>1002544.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,659},{161,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,58}}</string>
                <key>sourceSize</key>
                <string>{161,58}</string>
            </dict>
            <key>1002545.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,659},{131,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,58}}</string>
                <key>sourceSize</key>
                <string>{131,58}</string>
            </dict>
            <key>1002555.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,659},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>1002569.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,37},{188,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,111}}</string>
                <key>sourceSize</key>
                <string>{188,111}</string>
            </dict>
            <key>1002570.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,659},{125,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,47}}</string>
                <key>sourceSize</key>
                <string>{125,47}</string>
            </dict>
            <key>1002571.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,915},{220,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,59}}</string>
                <key>sourceSize</key>
                <string>{220,59}</string>
            </dict>
            <key>1002586.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{321,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,43}}</string>
                <key>sourceSize</key>
                <string>{321,43}</string>
            </dict>
            <key>1002596.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>1002597.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,227},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>1002606.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,335},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>1002610.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,864},{158,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,196}}</string>
                <key>sourceSize</key>
                <string>{158,196}</string>
            </dict>
            <key>1002619.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,822},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>1002634.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,864},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>1002635.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,335},{322,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,95}}</string>
                <key>sourceSize</key>
                <string>{322,95}</string>
            </dict>
            <key>1002636.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,357},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>1002698.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,566},{119,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,66}}</string>
                <key>sourceSize</key>
                <string>{119,66}</string>
            </dict>
            <key>1002701.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,659},{119,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,67}}</string>
                <key>sourceSize</key>
                <string>{119,67}</string>
            </dict>
            <key>1002718.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>1002733.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>1002743.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,566},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e2138ca1813b7c92c069d1e55f4c91a$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
