<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000181.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{130,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,68}}</string>
                <key>sourceSize</key>
                <string>{130,68}</string>
            </dict>
            <key>1000543.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{371,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,62}}</string>
                <key>sourceSize</key>
                <string>{371,62}</string>
            </dict>
            <key>1000671.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,67}}</string>
                <key>sourceSize</key>
                <string>{132,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friendRoomCode.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59197b425f55543da958f53ce315e5b6$</string>
            <key>textureFileName</key>
            <string>friendRoomCode.png</string>
        </dict>
    </dict>
</plist>
