<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1002427.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{121,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,139}}</string>
                <key>sourceSize</key>
                <string>{121,139}</string>
            </dict>
            <key>1002428.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,38},{79,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,67}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>1002429.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{240,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,31}}</string>
                <key>sourceSize</key>
                <string>{240,31}</string>
            </dict>
            <key>1002431.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{235,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,335}}</string>
                <key>sourceSize</key>
                <string>{235,335}</string>
            </dict>
            <key>1002432.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,164},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>1002433.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{417,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,34}}</string>
                <key>sourceSize</key>
                <string>{417,34}</string>
            </dict>
            <key>1002526.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,120},{83,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,40}}</string>
                <key>sourceSize</key>
                <string>{83,40}</string>
            </dict>
            <key>1002534.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>1002542.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{86,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{86,74}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>1002543.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,107},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>1002548.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,78},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>1002623.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,314},{246,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,82}}</string>
                <key>sourceSize</key>
                <string>{246,82}</string>
            </dict>
            <key>1002624.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,107},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friendRoomCreate.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03189bbf910ae4e351de87979fd7acd3$</string>
            <key>textureFileName</key>
            <string>friendRoomCreate.png</string>
        </dict>
    </dict>
</plist>
