<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1002520.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,286},{42,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>1002558.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,330},{41,40}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{41,40}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>1002559.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>1002668.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{480,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,138}}</string>
                <key>sourceSize</key>
                <string>{480,138}</string>
            </dict>
            <key>1002671.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,142}}</string>
                <key>sourceSize</key>
                <string>{480,142}</string>
            </dict>
            <key>1002731.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{163,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,42}}</string>
                <key>sourceSize</key>
                <string>{163,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallLogin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9661a64f86c6446845a084cc94a02f10$</string>
            <key>textureFileName</key>
            <string>hallLogin.png</string>
        </dict>
    </dict>
</plist>
