<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000447.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{322,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,95}}</string>
                <key>sourceSize</key>
                <string>{322,95}</string>
            </dict>
            <key>1000485.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>1000980.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{578,702}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,702}}</string>
                <key>sourceSize</key>
                <string>{578,702}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liangyou.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0755649be7bee6e7ffe74566add8c621$</string>
            <key>textureFileName</key>
            <string>liangyou.png</string>
        </dict>
    </dict>
</plist>
