<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1002583.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{14,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,61}}</string>
                <key>sourceSize</key>
                <string>{14,61}</string>
            </dict>
            <key>1002639.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{672,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,95}}</string>
                <key>sourceSize</key>
                <string>{672,95}</string>
            </dict>
            <key>1002640.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{336,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,85}}</string>
                <key>sourceSize</key>
                <string>{336,85}</string>
            </dict>
            <key>1002641.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,676},{306,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,88}}</string>
                <key>sourceSize</key>
                <string>{306,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mall.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc8082de4b5f5521ccf0f64c410cae9$</string>
            <key>textureFileName</key>
            <string>mall.png</string>
        </dict>
    </dict>
</plist>
