<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1002507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{264,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,67}}</string>
                <key>sourceSize</key>
                <string>{264,67}</string>
            </dict>
            <key>1002585.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>1002607.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>1002615.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,207},{48,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>1002617.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,60},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>myclub.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42faab8c2131b3114a01d1bd60d9cdef$</string>
            <key>textureFileName</key>
            <string>myclub.png</string>
        </dict>
    </dict>
</plist>
