<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{218,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,217}}</string>
                <key>sourceSize</key>
                <string>{218,217}</string>
            </dict>
            <key>1000256.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{34,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{34,44}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>1000362.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,217}}</string>
                <key>sourceSize</key>
                <string>{218,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pay_select_type.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:200c558ec9010afef6be53f36ae49153$</string>
            <key>textureFileName</key>
            <string>pay_select_type.png</string>
        </dict>
    </dict>
</plist>
