<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000283.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,165},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>1000326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,105}}</string>
                <key>sourceSize</key>
                <string>{161,105}</string>
            </dict>
            <key>1000337.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,377},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>1000600.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,239},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>1000630.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,312},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{63,68}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>1000755.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{321,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,43}}</string>
                <key>sourceSize</key>
                <string>{321,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roommodel.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0342b66006b48893b7a44678d81a19c5$</string>
            <key>textureFileName</key>
            <string>roommodel.png</string>
        </dict>
    </dict>
</plist>
