<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000022.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,373},{119,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,66}}</string>
                <key>sourceSize</key>
                <string>{119,66}</string>
            </dict>
            <key>1000170.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,323},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>1000172.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,246},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>1000208.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{142,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,38}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>1000245.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,169},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>1000302.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,146},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>1000507.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{369,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,39}}</string>
                <key>sourceSize</key>
                <string>{369,39}</string>
            </dict>
            <key>1000631.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,39}}</string>
                <key>sourceSize</key>
                <string>{369,39}</string>
            </dict>
            <key>1000677.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{165,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,45}}</string>
                <key>sourceSize</key>
                <string>{165,45}</string>
            </dict>
            <key>1000825.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,246},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{69,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>1000919.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{119,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,67}}</string>
                <key>sourceSize</key>
                <string>{119,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>set_dialog_hall.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71a96306775b6b13df93e2598e82fbef$</string>
            <key>textureFileName</key>
            <string>set_dialog_hall.png</string>
        </dict>
    </dict>
</plist>
