<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004490.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{154,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,59}}</string>
                <key>sourceSize</key>
                <string>{154,59}</string>
            </dict>
            <key>1004493.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>1004494.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>1004495.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>1004496.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,202},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>1004506.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,202},{169,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,43}}</string>
                <key>sourceSize</key>
                <string>{169,43}</string>
            </dict>
            <key>1004507.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,202},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>1004508.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{169,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,43}}</string>
                <key>sourceSize</key>
                <string>{169,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallBind.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a52c7656ee7d690183f080958323a0e$</string>
            <key>textureFileName</key>
            <string>hallBind.png</string>
        </dict>
    </dict>
</plist>
