<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1236_bg_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>1326_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,919},{100,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>1327_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,919},{100,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>1437_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,812},{720,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,60}}</string>
                <key>sourceSize</key>
                <string>{720,60}</string>
            </dict>
            <key>1438_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,812},{720,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,60}}</string>
                <key>sourceSize</key>
                <string>{720,60}</string>
            </dict>
            <key>1514_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,919},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>1515_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,919},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>1576_defaultCircleHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,427},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>1577_defaultCircleHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,427},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>540_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,299},{42,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>850_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,988},{81,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,34}}</string>
                <key>sourceSize</key>
                <string>{81,34}</string>
            </dict>
            <key>bnt_font_fzqw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{206,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,59}}</string>
                <key>sourceSize</key>
                <string>{206,59}</string>
            </dict>
            <key>brack_Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,185},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>brocast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,981},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,253},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btn_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,110},{530,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,166}}</string>
                <key>sourceSize</key>
                <string>{530,166}</string>
            </dict>
            <key>btn_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,505},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_lab_applyJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,812},{203,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,58}}</string>
                <key>sourceSize</key>
                <string>{203,58}</string>
            </dict>
            <key>btn_lab_applyQuit.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,812},{200,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,59}}</string>
                <key>sourceSize</key>
                <string>{200,59}</string>
            </dict>
            <key>btn_lab_applyRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,812},{203,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,59}}</string>
                <key>sourceSize</key>
                <string>{203,59}</string>
            </dict>
            <key>btn_lab_joinClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{254,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,59}}</string>
                <key>sourceSize</key>
                <string>{254,59}</string>
            </dict>
            <key>btn_received.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,642},{161,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,58}}</string>
                <key>sourceSize</key>
                <string>{161,58}</string>
            </dict>
            <key>btn_recieve.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,874},{131,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,58}}</string>
                <key>sourceSize</key>
                <string>{131,58}</string>
            </dict>
            <key>btn_yqrh.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,124},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>chat_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,874},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>combat_winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,874},{112,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,33}}</string>
                <key>sourceSize</key>
                <string>{112,33}</string>
            </dict>
            <key>cut_off_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{2,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,74}}</string>
                <key>sourceSize</key>
                <string>{2,74}</string>
            </dict>
            <key>diamond_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,874},{131,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,94}}</string>
                <key>sourceSize</key>
                <string>{131,94}</string>
            </dict>
            <key>font_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,63},{220,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,59}}</string>
                <key>sourceSize</key>
                <string>{220,59}</string>
            </dict>
            <key>guangboru.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1008},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>image_btn_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,874},{129,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,67}}</string>
                <key>sourceSize</key>
                <string>{129,67}</string>
            </dict>
            <key>image_btn_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,874},{132,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,67}}</string>
                <key>sourceSize</key>
                <string>{132,67}</string>
            </dict>
            <key>img_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,185},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>img_login_add_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{621,808}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,808}}</string>
                <key>sourceSize</key>
                <string>{621,808}</string>
            </dict>
            <key>img_t_gl.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,874},{321,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,43}}</string>
                <key>sourceSize</key>
                <string>{321,43}</string>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1019},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,981},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1017},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1014},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>otherCircleHeadFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,337},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>panel_wight.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1000},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>record_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,812},{43,205}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{43,205}}</string>
                <key>sourceSize</key>
                <string>{45,209}</string>
            </dict>
            <key>shiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,919},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,981},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>toast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,874},{124,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,28}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>toumingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,427},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:825c33b2cd96e7b6fd557a6204173519$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
