<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_poker_card_10black.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,116},{34,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_10red.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,173},{34,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_11black.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{34,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_11red.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,59},{34,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_12black.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,116},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_12red.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_13black.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,59},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_13red.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_14black.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,192},{38,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_14red.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,192},{38,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_15black.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{32,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_15red.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,59},{32,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_3black.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,88},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_3red.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,192},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_4black.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,116},{32,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_4red.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,173},{32,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_5black.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,74},{34,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_5red.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,196},{34,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_6black.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,196},{34,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_6red.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,88},{34,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_7black.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{32,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_7red.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,59},{32,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_8black.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,192},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_8red.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,192},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_9black.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,198},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_9red.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,198},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>new_poker_card_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,192},{43,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,57}}</string>
                <key>sourceSize</key>
                <string>{43,57}</string>
            </dict>
            <key>new_poker_card_joker_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,142},{85,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,108}}</string>
                <key>sourceSize</key>
                <string>{85,108}</string>
            </dict>
            <key>new_poker_card_joker_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,142},{85,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,108}}</string>
                <key>sourceSize</key>
                <string>{85,108}</string>
            </dict>
            <key>new_poker_card_jokerwordblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{21,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,118}}</string>
                <key>sourceSize</key>
                <string>{21,118}</string>
            </dict>
            <key>new_poker_card_jokerwordred.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{21,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,118}}</string>
                <key>sourceSize</key>
                <string>{21,118}</string>
            </dict>
            <key>new_poker_card_type0.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,124},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>new_poker_card_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>new_poker_card_type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>new_poker_card_type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,126},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>new_poker_card_type_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,173},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>new_poker_cardbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,188}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>new_poker_darkcardbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,188}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>new_poker_front_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{118,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,138}}</string>
                <key>sourceSize</key>
                <string>{118,138}</string>
            </dict>
            <key>new_poker_front_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newPoker.png</string>
            <key>size</key>
            <string>{865,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14f5a97c6897731a2e287e2f7db988b6$</string>
            <key>textureFileName</key>
            <string>newPoker.png</string>
        </dict>
    </dict>
</plist>
