<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004052.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,227},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>1004260.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{631,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,330}}</string>
                <key>sourceSize</key>
                <string>{631,330}</string>
            </dict>
            <key>1004403.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,187},{212,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,81}}</string>
                <key>sourceSize</key>
                <string>{212,81}</string>
            </dict>
            <key>1004434.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,77}}</string>
                <key>sourceSize</key>
                <string>{434,77}</string>
            </dict>
            <key>1004445.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,528},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>1004530.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,744},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>1004533.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,72},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>1004541.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,78},{4,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,45}}</string>
                <key>sourceSize</key>
                <string>{4,45}</string>
            </dict>
            <key>1004542.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{42,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>1004545.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,613},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>1004546.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{42,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>1004548.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,805},{42,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>1004550.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,761},{42,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>1004551.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,715},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>1004556.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{2,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,74}}</string>
                <key>sourceSize</key>
                <string>{2,74}</string>
            </dict>
            <key>1004557.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,72},{66,63}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{66,63}}</string>
                <key>sourceSize</key>
                <string>{104,77}</string>
            </dict>
            <key>1004558.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,97},{85,88}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{131,94}</string>
            </dict>
            <key>1004563.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,185},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>1004566.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,310},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>1004578.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,133},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>1004579.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,81},{14,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,86}}</string>
                <key>sourceSize</key>
                <string>{14,86}</string>
            </dict>
            <key>1004581.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,129},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>1004587.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,354},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>1004588.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,332},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>1004590.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,310},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>1004593.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,360},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>1004594.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>1004596.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,528},{52,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,31}}</string>
                <key>sourceSize</key>
                <string>{52,31}</string>
            </dict>
            <key>1004598.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,125},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>1004599.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,665},{48,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>1004600.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,137},{56,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,46}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>1004604.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>1004605.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,561},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>1004638.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,640},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>1004686.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>1004687.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{345,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,108}}</string>
                <key>sourceSize</key>
                <string>{345,108}</string>
            </dict>
            <key>1004688.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,401},{163,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,125}}</string>
                <key>sourceSize</key>
                <string>{163,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>foreload.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18ccdd0eaebda5f02deade52be99fdbc$</string>
            <key>textureFileName</key>
            <string>foreload.png</string>
        </dict>
    </dict>
</plist>
