<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,91},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,91},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,180},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,180},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,269},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,269},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Freecircle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26767b92c6bc4c822de47005d2d9a17f$</string>
            <key>textureFileName</key>
            <string>Freecircle.png</string>
        </dict>
    </dict>
</plist>
