<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>广东麻将大全</string>
	<key>CFBundleExecutable</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>广东麻将大全</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxfd0e620467a13b07</string>
				<string>wx4f463ce853b28bdc</string>
				<string>wx91372770c2e5942d</string>
				<string>wxe9e7d9be1cf284b4</string>
				<string>wx946bcd6553fbd8ed</string>
				<string>wx86ffb72f270268c0</string>
				<string>wx489ddeaecf4711cc</string>
				<string>wx6887505d7ef70754</string>
				<string>wxf5371f07c6a729b0</string>
				<string>wx800993b2f5fb14ef</string>
				<string>wx8f040481ab90dcf9</string>
				<string>wx5bf52e7267ae8df5</string>
				<string>wx2d77bbbf3e12f2c9</string>
				<string>wxa3006ed2f2e18503</string>
				<string>wx29274a381c8a1446</string>
				<string>wxef343174dde4e366</string>
				<string>wxe80012471378e41a</string>
				<string>wx581779d38a3b503c</string>
				<string>wxa44433092b36633c</string>
				<string>wx2fed5c171b9a3ff2</string>
				<string>wx9320a9eca556d777</string>
				<string>wx00501212b3d95929</string>
				<string>wxaefe4dee7ba9fc82</string>
				<string>wxf280883c5ff29a08</string>
				<string>wx837131c689a9b253</string>
				<string>wx3118177330a5aca3</string>
				<string>wx3e0ef41d96045388</string>
				<string>wx7b5336efb4071877</string>
				<string>wxd0565c698753dd24</string>
				<string>wxe9c2b1edc0cebcb4</string>
				<string>wx665cedfcd253bef2</string>
				<string>wx01fa0bcd129ed188</string>
				<string>wxa23215783d0dc639</string>
				<string>wxa8b6a710df02d14f</string>
				<string>wxa63e23e34225fc1a</string>
				<string>wx3c4d079b9d0ce844</string>
				<string>wxdcf855fd15f8f5f8</string>
				<string>wx59ea0e70cb3b417e</string>
				<string>wxbe04bf71094c76bd</string>
				<string>wx3e01169a6c38c45d</string>
				<string>wx145010e12fbadc2d</string>
				<string>wx58ae7b37c99ed1af</string>
				<string>wx53cafff4f892e0b0</string>
				<string>wxb119abfef0bc8913</string>
				<string>wxab8c58d4c976e30d</string>
				<string>wx458b95515f13088f</string>
				<string>wx463c6aaffc307a33</string>
				<string>wx9ec53c316f71fe4d</string>
				<string>wxec1cc95ab445ae5b</string>
				<string>wx205ef177daa526cd</string>
				<string>wxa1bf592111547669</string>
				<string>wxd3556408dda7c2ae</string>
				<string>wxd28a44778ad7087a</string>
				<string>wx012c27ec7c61741e</string>
				<string>wx2666df09f1860679</string>
				<string>wx261f94e017616a60</string>
				<string>wxcccab6a252852f0e</string>
				<string>wx3355fdb6b243ab27</string>
				<string>wxa26d866204e9619e</string>
				<string>wxae7f7ef7fe968a21</string>
				<string>wx798d7cb1bed8c158</string>
				<string>wxd6c169df2d83767e</string>
				<string>wxe8b445c7faa8ac6b</string>
				<string>wx1894647d1d6c937c</string>
				<string>wxc289673a43819071</string>
				<string>wx764e8e69094d24f7</string>
				<string>wxbfb1253ffae772d3</string>
				<string>wx4ada576502ab4fc3</string>
				<string>wx602e13be32d39181</string>
				<string>wxe26f3154007f10c0</string>
				<string>wx0de318c6a747b122</string>
				<string>wxefed24395d3a0831</string>
				<string>wx8d7e0f70236174db</string>
				<string>wx18342e30b20cd71d</string>
				<string>wx4d3fb0bf0a46877e</string>
				<string>wxfa04f0bd8337dd3a</string>
				<string>wx7ce83c59be2b2400</string>
				<string>wx9bb9c47803b06f0a</string>
				<string>wx34ca4262944d9637</string>
				<string>wx1e340b0901857375</string>
				<string>wxdd5c7e9271da2c22</string>
				<string>wx36eca02ee6894b26</string>
				<string>wxb1b7bd9d495cd69d</string>
				<string>wx040176c2f2af5c4d</string>
				<string>wxa8bf4cfd21e5f7bf</string>
				<string>wx9f46aa2cb98306da</string>
				<string>wx7a708a7088cffa64</string>
				<string>wxdbed260ce4d7678a</string>
				<string>wx76b544f34df0482a</string>
				<string>wx7e9b28bd6707ce75</string>
				<string>wx1021f4947e5ffde8</string>
				<string>wx7891fe0f3e64b1df</string>
				<string>wx940741e5737c6d38</string>
				<string>wx05c2b0e737f54db4</string>
				<string>wx1961ef4e9f62994c</string>
				<string>wx58157bb65f463342</string>
				<string>wx2e2c70244802e41b</string>
				<string>wx8d7ae1e48db3005e</string>
				<string>wx61540f252c5cbe46</string>
				<string>wxf136c3fdd073ec16</string>
				<string>wxb35e5ef1a8692b12</string>
				<string>wx01675f94218a0424</string>
				<string>wx36ee20c0fd33bfba</string>
				<string>wx80b19dd9988249a5</string>
				<string>wx95dfc6f2873dc95d</string>
				<string>wx16dbfe855a1bc2d4</string>
				<string>wxe9cfdf364b061acd</string>
				<string>wxe7bf6bb86f2e9740</string>
				<string>wxcb51b206ae43e78b</string>
				<string>wxd0be163f43f579ab</string>
				<string>wx3751e48982190486</string>
				<string>wxf1e2e30a0a812633</string>
				<string>wxd190d41e47645e4e</string>
				<string>wx5dfe30aa716a586e</string>
				<string>wx6494833d5cd9b6cc</string>
				<string>wxce3158e6b98b15ac</string>
				<string>wx1fb145c03f065aa9</string>
				<string>wx2f4fc623c6709261</string>
				<string>wxc765c8499059ee5c</string>
				<string>wx699811d9d1ed61f2</string>
				<string>wx780f312ad3bf49b7</string>
				<string>wx58347e5a72477a9e</string>
				<string>wx1258269792152223</string>
				<string>wx2f2507c90b6d1f96</string>
				<string>wxa1d6688112567829</string>
				<string>wx3eef0391d08c7470</string>
				<string>wx4addaa0c52c963be</string>
				<string>wxa7ff54fee98c30b3</string>
				<string>wxd38fd1872718a0ac</string>
				<string>wx3b7e930149ab72ab</string>
				<string>wx170372e6b888281b</string>
				<string>wxb6ba18ee5170d9cb</string>
				<string>wx9d2fa9f5c835727a</string>
				<string>wx8fa1b67aba0c7960</string>
				<string>wx4df2ff3a4218c78a</string>
				<string>wxefba71cdb4cd0c75</string>
				<string>wx65b988a08e14c8b8</string>
				<string>wx67174e052b036d5c</string>
				<string>wxf8942e40ebc5d968</string>
				<string>wx28d1b1a424264686</string>
				<string>wx79be85160a67446b</string>
				<string>wx08c47e393b49383d</string>
				<string>wx20feb75e42e28d67</string>
				<string>wx6ebc6255261de5ca</string>
				<string>wxca1a9a0ed0257ba3</string>
				<string>wx6e892c88f67a1dd9</string>
				<string>wx30373abb7ba46290</string>
				<string>wx198bf70685c8ae7d</string>
				<string>wx2d7883a11f1f8934</string>
				<string>wx1289917a1afb9e92</string>
				<string>wx424e65ca1ac34366</string>
				<string>wxda36ff946563f5c6</string>
				<string>wx6ee2865c0d324fdb</string>
				<string>wxca7a38b3e1776866</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.4</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>需要相机权限</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>使用麦克风录音</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>使用相册</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array/>
	<key>UM_KEY</key>
	<string>59a55abf45297d5dcd001304</string>
	<key>WECHAT_APPID</key>
	<string>wxfd0e620467a13b07</string>
	<key>WECHAT_SEC</key>
	<string>360929fe48fb19b75104f317123ba408</string>
</dict>
</plist>
