<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004475.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>1004540.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{65,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,82}}</string>
                <key>sourceSize</key>
                <string>{65,82}</string>
            </dict>
            <key>1004590.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,56}}</string>
                <key>sourceSize</key>
                <string>{234,56}</string>
            </dict>
            <key>1004597.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{220,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,56}}</string>
                <key>sourceSize</key>
                <string>{220,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obtain_diamond.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63dfdb4ef36a9e561354fa80a7d74689$</string>
            <key>textureFileName</key>
            <string>obtain_diamond.png</string>
        </dict>
    </dict>
</plist>
